In [57]:
# import the library
import pandas as pd
import numpy as np
import os
import glob
from fuzzywuzzy import process

In [58]:
# Define the directory containing the pedestrian data
ped_dir = 'Z:/AT Data/Data_to_be_processed/pedestrian/'

# Initialize a list to store the filtered and combined DataFrames
agg = []

# Define the direction extraction function
def extract_direction(filename):
    directions = ['North', 'South', 'East', 'West']
    for direction in directions:
        if direction.lower() in filename.lower():  # Case-insensitive match
            return direction
    return 'Unknown'

# Traverse the directories recursively for pedestrian data
for intersection_name in os.listdir(ped_dir):
    intersection_path = os.path.join(ped_dir, intersection_name)
    if os.path.isdir(intersection_path):
        for folder_level_2 in os.listdir(intersection_path):
            level_2_path = os.path.join(intersection_path, folder_level_2)
            if os.path.isdir(level_2_path):
                for folder_level_3 in os.listdir(level_2_path):
                    level_3_path = os.path.join(level_2_path, folder_level_3)
                    if os.path.isdir(level_3_path):
                        for file in os.listdir(level_3_path):
                            if file.endswith('.csv'):
                                file_path = os.path.join(level_3_path, file)
                                
                                # Extract the direction from the filename
                                filename = os.path.basename(file)
                                direction = extract_direction(filename)
                                
                                # Read the CSV file with error handling
                                try:
                                    df = pd.read_csv(file_path)
                                except Exception as e:
                                    print(f"Error reading {file_path}: {e}")
                                    continue
                                
                                # Clean the column names (if Excel exports)
                                df.columns = df.columns.str.replace(r'=T\("([^"]+)"\)', r'\1', regex=True)
                                
                                # Select only expected columns
                                expected_columns = ['Date', 'Northbound', 'Southbound', 'Eastbound', 'Westbound']
                                df = df[[col for col in expected_columns if col in df.columns]]
                                
                                # Add required "Direction" and "Intersection" columns
                                df["Direction"] = direction
                                df["Intersection"] = intersection_name
                                agg.append(df)

# Combine all the filtered DataFrames into one
com_df = pd.concat(agg, ignore_index=True)

# Handle NaN values and ensure numeric type
com_df[['Southbound', 'Northbound', 'Eastbound', 'Westbound']] = (
    com_df[['Southbound', 'Northbound', 'Eastbound', 'Westbound']]
    .fillna(0)
    .apply(pd.to_numeric, errors='coerce')
)

# Calculate the total count and drop directional flows
com_df['Count'] = com_df[['Southbound', 'Northbound', 'Eastbound', 'Westbound']].sum(axis=1)
com_df.drop(['Southbound', 'Northbound', 'Eastbound', 'Westbound'], axis=1, inplace=True)

# Rename "Direction" to the correct bound
direction_map = {'East': 'Westbound', 'West': 'Eastbound', 'North': 'Southbound', 'South': 'Northbound'}
com_df['Direction'] = com_df['Direction'].map(direction_map).fillna(com_df['Direction'])
com_df['Date'] = com_df['Date'].str.extract(r'(\d{2}/\d{2}/\d{4} \d{2}:\d{2}:\d{2})')[0]
com_df['Date'] = pd.to_datetime(com_df['Date'])

# Display the first few rows
com_df.head()

                 Date   Direction            Intersection  Count
0 2024-05-01 00:00:00  Northbound  880 NB Ramp & Davis St    0.0
1 2024-05-01 01:00:00  Northbound  880 NB Ramp & Davis St    0.0
2 2024-05-01 02:00:00  Northbound  880 NB Ramp & Davis St    0.0
3 2024-05-01 03:00:00  Northbound  880 NB Ramp & Davis St    0.0
4 2024-05-01 04:00:00  Northbound  880 NB Ramp & Davis St    0.0

In [59]:
com_df.isnull().sum()

Date            96
Direction        0
Intersection     0
Count            0
dtype: int64

In [41]:
com_df.shape

(343056, 4)

In [60]:
# read the meta data
meta_data_path4=pd.read_excel(r'Z:/AT Data/Data_to_be_processed/DATA LOCATION GUIDE.xlsx',sheet_name='D4')
meta_data4=meta_data_path4[['ID','Intersection Description']]
meta_data_path3=pd.read_excel(r'Z:/AT Data/Data_to_be_processed/DATA LOCATION GUIDE.xlsx',sheet_name='D3')
meta_data3=meta_data_path3[['ID','Intersection Description']]
meta_data34=pd.concat([meta_data3,meta_data4])
meta_data34['District'] = meta_data34['ID'].astype(str).str[0].astype(int)
meta_data34.head()

     ID        Intersection Description  District
0  3001       HWY 49 & I-80 EB off Ramp         3
1  3002              HWY 49 & Sawyer St         3
2  3003  HWY 49 & Elm Ave-Fulweiler Ave         3
3  3004               HWY 49 & Palm Ave         3
4  3005     HWY 49 & Marguerite Mile Rd         3

In [61]:
com_df1=pd.merge(com_df,meta_data34, left_on=['Intersection'], right_on=['Intersection Description'], how='inner')
com_df1.head()

,Date,Direction,Intersection,Count,ID,Intersection Description,District
0,2024-05-01 00:00:00,Northbound,880 NB Ramp & Davis St,0.0,4017,880 NB Ramp & Davis St,4
1,2024-05-01 01:00:00,Northbound,880 NB Ramp & Davis St,0.0,4017,880 NB Ramp & Davis St,4
2,2024-05-01 02:00:00,Northbound,880 NB Ramp & Davis St,0.0,4017,880 NB Ramp & Davis St,4
3,2024-05-01 03:00:00,Northbound,880 NB Ramp & Davis St,0.0,4017,880 NB Ramp & Davis St,4
4,2024-05-01 04:00:00,Northbound,880 NB Ramp & Davis St,0.0,4017,880 NB Ramp & Davis St,4

In [62]:
com_df1.isnull().sum()

Date                        96
Direction                    0
Intersection                 0
Count                        0
ID                           0
Intersection Description     0
District                     0
dtype: int64

In [63]:
com_df1.shape

(338184, 7)

In [64]:
# # now join with intersection details 
# if 'Intersection Description' in meta_data34.columns:
#     intersection_names=meta_data34['Intersection Description'].tolist()

#     def match_intersection(name):
#         match, score = process.extractOne(name, intersection_names)  # Find best match
#         return match if score > 50 else None 
#             # Apply matching function to the final_df
#     com_df['Matched_Intersection'] = com_df['Intersection'].apply(match_intersection)

#     # Merge with intersection description data
#     com_df = com_df.merge(meta_data34, left_on='Matched_Intersection', right_on='Intersection Description', how='inner')

# else:
#     print("Error: 'Intersection Description' column not found in the intersection description file.")
# com_df.head()

In [65]:
com_df.shape

(338184, 4)

In [66]:
# we will drop unnecessary columns
com_df2=com_df1[['Date', 'Direction', 'ID', 'Intersection Description', 'District','Count']]
com_df2=com_df2.rename(columns={'ID':'Loc_id','Intersection Description':'Intersection'})
com_df2.head()

,Date,Direction,Loc_id,Intersection,District,Count
0,2024-05-01 00:00:00,Northbound,4017,880 NB Ramp & Davis St,4,0.0
1,2024-05-01 01:00:00,Northbound,4017,880 NB Ramp & Davis St,4,0.0
2,2024-05-01 02:00:00,Northbound,4017,880 NB Ramp & Davis St,4,0.0
3,2024-05-01 03:00:00,Northbound,4017,880 NB Ramp & Davis St,4,0.0
4,2024-05-01 04:00:00,Northbound,4017,880 NB Ramp & Davis St,4,0.0

In [67]:
# make sure the date is in date format to extract the temporal variable
com_df2['Date'] = pd.to_datetime(com_df2['Date'], format="%m/%d/%Y %H:%M:%S")

# Extract year, month, day
com_df2['Year'] = com_df2['Date'].dt.year
com_df2['Month'] = com_df2['Date'].dt.strftime('%b') 
com_df2['Day'] = com_df2['Date'].dt.day_name()

# Extract weekday name and check if it's a weekend
com_df2['Weekday_Type'] = com_df2['Day'].apply(lambda x: "Weekend" if x in ['Saturday', 'Sunday'] else "Weekday")

# Extract hour and AM/PM
com_df2['Hour'] = com_df2['Date'].dt.strftime('%I %p').str.lstrip('0')
com_df2['Mode']="Pedestrian"
com_df3=com_df2[['Loc_id','District','Intersection','Year', 'Month',
       'Day','Weekday_Type','Date', 'Hour','Mode','Direction','Count']]
com_df3.head()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count
0,4017,4,880 NB Ramp & Davis St,2024.0,May,Wednesday,Weekday,2024-05-01 00:00:00,12 AM,Pedestrian,Northbound,0.0
1,4017,4,880 NB Ramp & Davis St,2024.0,May,Wednesday,Weekday,2024-05-01 01:00:00,1 AM,Pedestrian,Northbound,0.0
2,4017,4,880 NB Ramp & Davis St,2024.0,May,Wednesday,Weekday,2024-05-01 02:00:00,2 AM,Pedestrian,Northbound,0.0
3,4017,4,880 NB Ramp & Davis St,2024.0,May,Wednesday,Weekday,2024-05-01 03:00:00,3 AM,Pedestrian,Northbound,0.0
4,4017,4,880 NB Ramp & Davis St,2024.0,May,Wednesday,Weekday,2024-05-01 04:00:00,4 AM,Pedestrian,Northbound,0.0

In [68]:
# Filter the DataFrame for rows where 'Year' is NaN
missing_year_df = com_df[pd.isna(com_df['Date'])]
missing_year_df

       Date  Direction       Intersection  Count
290760  NaT  Westbound  HWY 50 & Canal St    0.0
290761  NaT  Westbound  HWY 50 & Canal St    0.0
290762  NaT  Westbound  HWY 50 & Canal St    0.0
290763  NaT  Westbound  HWY 50 & Canal St    0.0
290764  NaT  Westbound  HWY 50 & Canal St    0.0
...     ...        ...                ...    ...
290851  NaT  Eastbound  HWY 50 & Canal St   32.0
290852  NaT  Eastbound  HWY 50 & Canal St   18.0
290853  NaT  Eastbound  HWY 50 & Canal St   15.0
290854  NaT  Eastbound  HWY 50 & Canal St    4.0
290855  NaT  Eastbound  HWY 50 & Canal St    9.0

[96 rows x 4 columns]

In [69]:
# Check the duplicate values and drop it
com_df4=com_df3.drop_duplicates(subset=['Loc_id','District','Intersection','Year', 'Month',
       'Day','Weekday_Type','Date', 'Hour','Mode','Direction','Count'])
com_df4=com_df4.dropna(subset=['Year'])
com_df4.shape

(337863, 12)

In [70]:
com_df4.isnull().sum()

Loc_id          0
District        0
Intersection    0
Year            0
Month           0
Day             0
Weekday_Type    0
Date            0
Hour            0
Mode            0
Direction       0
Count           0
dtype: int64

In [71]:
com_df4['Count'].describe()

count    337863.000000
mean          1.045199
std           3.240966
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max         201.000000
Name: Count, dtype: float64

In [72]:
com_df4.to_csv('Z:/AT Data/Processed_data/D34_Ped/D34_ped_data_for_Tableau.csv')

In [73]:
# Lets extract the data for Traffic Census
ts=com_df4[['Loc_id','Date', 'Hour','Direction','Count']]
ts['Count'] = ts['Count'].astype(int)
ts=ts.rename(columns={'Hour':'Time'})
ts['Date'] = pd.to_datetime(ts['Date']).dt.date
# Pivot the table
pivoted_df = ts.pivot_table(index=['Loc_id','Date', 'Time'], columns='Direction', values='Count', fill_value=0)
# Reset index to make it more readable
pivoted_df = pivoted_df.reset_index()
pivoted_df.head()

C:\Users\s160555\AppData\Local\Temp\ipykernel_21128\1890048495.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts['Count'] = ts['Count'].astype(int)

Direction,Loc_id,Date,Time,Eastbound,Northbound,Southbound,Westbound
0,3001,2024-10-01,1 AM,0.0,0.0,0.0,0.0
1,3001,2024-10-01,1 PM,0.0,0.0,0.0,0.0
2,3001,2024-10-01,10 AM,0.0,1.0,0.0,0.0
3,3001,2024-10-01,10 PM,0.0,1.0,0.0,0.0
4,3001,2024-10-01,11 AM,0.0,1.0,0.0,0.0

In [75]:
pivoted_df.to_csv('Z:/AT Data/Processed_data/D34_Ped/D34_ped_data_for_census.csv',index=False)

In [ ]:
# end of the script