In [1]:
import pandas as pd
import geopandas as gpd

# lets combine ped data

In [6]:
# Read the D4 ped data
d4_ped=pd.read_csv('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/FOR COMPILATION/Ped/Tableau_D4_Pedestrian.csv')
# drop the duplicates
d41_ped=d4_ped.drop_duplicates(subset=['Loc_id', 'District', 'Intersection', 'Year', 'Month', 'Day',
       'Weekday_Type', 'Date', 'Hour', 'Mode', 'Direction', 'Count'])
d41_ped.head()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count,Count_Type
0,4001,4,Central & EB580,2023,Jun,Tuesday,Weekday,6/6/2023 0:00,12:00 AM,Pedestrian,Westbound,0,Continuous
1,4001,4,Central & EB580,2023,Jun,Tuesday,Weekday,6/6/2023 0:00,12:00 AM,Pedestrian,Eastbound,0,Continuous
2,4001,4,Central & EB580,2023,Jun,Tuesday,Weekday,6/6/2023 0:00,12:00 AM,Pedestrian,Southbound,0,Continuous
3,4001,4,Central & EB580,2023,Jun,Tuesday,Weekday,6/6/2023 0:00,12:00 AM,Pedestrian,Northbound,0,Continuous
4,4001,4,Central & EB580,2023,Jun,Tuesday,Weekday,6/6/2023 1:00,1:00 AM,Pedestrian,Westbound,0,Continuous

In [7]:
d4_ped.shape,d41_ped.shape

((827588, 13), (827588, 13))

In [5]:
d4_ped.columns

Index(['Loc_id', 'District', 'Intersection', 'Year', 'Month', 'Day',
       'Weekday_Type', 'Date', 'Hour', 'Mode', 'Direction', 'Count',
       'Count_Type'],
      dtype='object')

In [8]:
d3_ped=pd.read_csv('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/FOR COMPILATION/Ped/Tableau_D3_Pedestrian.csv')
d3_ped.head()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count,Count_Type
0,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,1/1/2024 0:00,12:00 AM,Pedestrian,Westbound,1,Continuous
1,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,1/1/2024 1:00,1:00 AM,Pedestrian,Westbound,2,Continuous
2,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,1/1/2024 2:00,2:00 AM,Pedestrian,Westbound,0,Continuous
3,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,1/1/2024 3:00,3:00 AM,Pedestrian,Westbound,0,Continuous
4,3009,3,HWY 49 & Atwood Rd,2024,Jan,Monday,Weekday,1/1/2024 4:00,4:00 AM,Pedestrian,Westbound,0,Continuous

In [9]:
d3_ped.shape,d41_ped.shape

((850219, 13), (827588, 13))

In [19]:
d3_ped.dtypes,d41_ped.dtypes

(Loc_id           int64
 District         int64
 Intersection    object
 Year             int64
 Month           object
 Day             object
 Weekday_Type    object
 Date            object
 Hour            object
 Mode            object
 Direction       object
 Count            int64
 Count_Type      object
 dtype: object,
 Loc_id           int64
 District         int64
 Intersection    object
 Year             int64
 Month           object
 Day             object
 Weekday_Type    object
 Date            object
 Hour            object
 Mode            object
 Direction       object
 Count            int64
 Count_Type      object
 dtype: object)

In [10]:
# lets combine these two datasets
ped_D3_D4_data=pd.concat([d3_ped,d41_ped],axis=0)
ped_D3_D4_data.shape

(1677807, 13)

In [11]:
ped_D3_D4_data.isnull().sum()

Loc_id          0
District        0
Intersection    0
Year            0
Month           0
Day             0
Weekday_Type    0
Date            0
Hour            0
Mode            0
Direction       0
Count           0
Count_Type      0
dtype: int64

In [37]:
ped_D3_D4_data.to_csv('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/FOR COMPILATION/Ped/combined_D3_D4_ped.csv',index=False)

# lets combine bike data

In [24]:
# Read the D4 bikr data
d4_bike=pd.read_csv('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/FOR COMPILATION/Bike/Tableau_D4_Bicycle.csv')
# drop the duplicates
d41_bike=d4_bike.drop_duplicates(subset=['Loc_id', 'District', 'Intersection', 'Year', 'Month', 'Day',
       'Weekday_Type', 'Date', 'Hour', 'Mode', 'Direction', 'Count'])
d41_bike['Count']=d41_bike['Count'].astype('int64')
d41_bike.head()

C:\Users\s160555\AppData\Local\Temp\ipykernel_25824\2656240980.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d41_bike['Count']=d41_bike['Count'].astype('int64')

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count,Count_Type
0,4001,4,Central & EB580,2023,Jan,Sunday,Weekend,1/1/2023 0:00,12:00 AM,Bicycle,Westbound,0,Continuous
1,4001,4,Central & EB580,2023,Jan,Sunday,Weekend,1/1/2023 0:00,12:00 AM,Bicycle,Eastbound,0,Continuous
2,4001,4,Central & EB580,2023,Jan,Sunday,Weekend,1/1/2023 0:00,12:00 AM,Bicycle,Southbound,0,Continuous
3,4001,4,Central & EB580,2023,Jan,Sunday,Weekend,1/1/2023 0:00,12:00 AM,Bicycle,Northbound,0,Continuous
4,4001,4,Central & EB580,2023,Jan,Sunday,Weekend,1/1/2023 1:00,1:00 AM,Bicycle,Westbound,0,Continuous

In [26]:
d41_bike.isnull().sum()

Loc_id          0
District        0
Intersection    0
Year            0
Month           0
Day             0
Weekday_Type    0
Date            0
Hour            0
Mode            0
Direction       0
Count           0
Count_Type      0
dtype: int64

In [14]:
d4_bike.shape,d41_bike.shape

((868298, 13), (868249, 13))

In [27]:
d3_bike=pd.read_csv('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/FOR COMPILATION/Bike/Tableau_D3_Bicycle.csv')
d3_bike.head()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count,Count_Type
0,3006,3,HWY 49 & Edgewood Rd,2023,Jan,Sunday,Weekend,1/1/2023 0:00,12:00 AM,Bicycle,Eastbound,0.0,Continuous
1,3006,3,HWY 49 & Edgewood Rd,2023,Jan,Sunday,Weekend,1/1/2023 1:00,1:00 AM,Bicycle,Eastbound,0.0,Continuous
2,3006,3,HWY 49 & Edgewood Rd,2023,Jan,Sunday,Weekend,1/1/2023 2:00,2:00 AM,Bicycle,Eastbound,0.0,Continuous
3,3006,3,HWY 49 & Edgewood Rd,2023,Jan,Sunday,Weekend,1/1/2023 3:00,3:00 AM,Bicycle,Eastbound,0.0,Continuous
4,3006,3,HWY 49 & Edgewood Rd,2023,Jan,Sunday,Weekend,1/1/2023 4:00,4:00 AM,Bicycle,Eastbound,0.0,Continuous

In [30]:
d3_bike.isnull()

,Loc_id,District,Intersection,Year,Month,Day,Weekday_Type,Date,Hour,Mode,Direction,Count,Count_Type
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
940680,False,False,False,False,False,False,False,False,False,False,False,False,False
940681,False,False,False,False,False,False,False,False,False,False,False,False,False
940682,False,False,False,False,False,False,False,False,False,False,False,False,False
940683,False,False,False,False,False,False,False,False,False,False,False,False,False
940684,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
d3_bike.shape,d41_bike.shape

((940685, 13), (868249, 13))

In [20]:
d3_bike.dtypes,d41_bike.dtypes

(Loc_id            int64
 District          int64
 Intersection     object
 Year              int64
 Month            object
 Day              object
 Weekday_Type     object
 Date             object
 Hour             object
 Mode             object
 Direction        object
 Count           float64
 Count_Type       object
 dtype: object,
 Loc_id           int64
 District         int64
 Intersection    object
 Year             int64
 Month           object
 Day             object
 Weekday_Type    object
 Date            object
 Hour            object
 Mode            object
 Direction       object
 Count            int64
 Count_Type      object
 dtype: object)

In [33]:
# lets combine these two datasets
bike_D3_D4_data=pd.concat([d3_bike,d41_bike],axis=0)
bike_D3_D4_data = bike_D3_D4_data.dropna()
bike_D3_D4_data.shape

(1808440, 13)

In [34]:
bike_D3_D4_data.isnull().sum()

Loc_id          0
District        0
Intersection    0
Year            0
Month           0
Day             0
Weekday_Type    0
Date            0
Hour            0
Mode            0
Direction       0
Count           0
Count_Type      0
dtype: int64

In [36]:
bike_D3_D4_data.to_csv('Z:/AT Data/Tableau Database/Archive/For Mintu/D3/FOR COMPILATION/Bike/combined_D3_D4_bike.csv',index=False)

In [ ]:
# end of the Script