In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Directory containing Excel files
directory = 'S:/Shared/System Management/ATP/LOCATIONS/Miovision Data/SMART3-20210901T174328Z-001/SMART3'

In [3]:
aggregated_data = []
# Iterate over each Excel file
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):
        filepath = os.path.join(directory, filename)
        try:
            with pd.ExcelFile(filepath) as xls:
                # Read Summary sheet
                summary_df = pd.read_excel(xls, 'Summary')

                # Check if condition is met in summary sheet
                if (summary_df.iloc[2, 1] == 'All Processed Legs & Movements'):
                    location = summary_df.iloc[7, 1]  # Location is in cell B9
                    latlon = summary_df.iloc[8, 1]
                    latlon = latlon.split(',')
                    lat = latlon[0]
                    lon = latlon[1]
                    # Read Pedestrians sheet
                    pedestrians_df = pd.read_excel(xls, 'Pedestrians', header=2)

                    # Sum up all columns' values by first column starting from row 4
                        # Sum up all columns' values by first column starting from row 4
                    pedestrians_df['total_Counts'] = pedestrians_df.iloc[:, 1:].sum(axis=1)
                    pedestrians_df['location'] = location
                    pedestrians_df['lat'] = lat
                    pedestrians_df['long'] = lon

                    # Append to aggregated data list
                    aggregated_data.append(pedestrians_df)
        except Exception as e:
            print(f"Error processing {filename}: {str(e)}")

# Concatenate data into a single DataFrame
result_df = pd.concat(aggregated_data)
result_df

Error processing 03-ED-049-15.163-MAY-15-2013_20201107021806.xlsx: Worksheet named 'Pedestrians' not found
Error processing 03-SAC-160 PM 20.860 21-23 AUG 2019_20201106205640.xlsx: Worksheet named 'Pedestrians' not found
Error processing 1_21 @ Via Verde 11_30 am - 2 pm_20201107010630.xlsx: Worksheet named 'Pedestrians' not found
Error processing 210 W_B and Central no ped_20201106230548.xlsx: Worksheet named 'Pedestrians' not found
Error processing Bellle Haven@BushAM_20201107013302.xlsx: Worksheet named 'Pedestrians' not found
Error processing E. Elm at Main 6-10-16 Friday_20201107003150.xlsx: 'float' object has no attribute 'split'
Error processing E. Elm at Main 6-11-16 Saturday 7-9am_20201107003101.xlsx: 'float' object has no attribute 'split'
Error processing Kin41@Bush AM NB_20201107013232.xlsx: Worksheet named 'Pedestrians' not found
Error processing Line at Main 7-8-16 Friday_20201107002539.xlsx: 'float' object has no attribute 'split'
Error processing MEN-101-91.26 Leggett at Hwy 1 2014_20201107004406.xlsx: Worksheet named 'Pedestrians' not found
Error processing Rte 15 Nichols Rd NB off_on ramp_20201107005301.xlsx: Worksheet named 'Pedestrians' not found
Error processing SBam@Bush_20201107013333.xlsx: Worksheet named 'Pedestrians' not found

,Start Time,Thru,Left,U-Turn,Peds CW,Peds CCW,Right,Left.1,U-Turn.1,Peds CW.1,...,Hard left.1,Hard right.1,Bear left.1,Right on red,Right on red.1,Peds CW.4,Peds CCW.4,U-Turn.4,Right on red.2,Right on red.3
0,2014-05-28 06:30:00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-05-28 06:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-05-28 07:00:00,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-05-28 07:15:00,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-05-28 07:30:00,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,2019-11-14 16:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2019-11-14 17:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2019-11-14 17:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2019-11-14 17:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2019-11-14 17:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
result_df.columns

Index(['Start Time', 'Thru', 'Left', 'U-Turn', 'Peds CW', 'Peds CCW', 'Right',
       'Left.1', 'U-Turn.1', 'Peds CW.1', 'Peds CCW.1', 'Right.1', 'Thru.1',
       'U-Turn.2', 'Peds CW.2', 'Peds CCW.2', 'total_Counts', 'location',
       'lat', 'long', 'Right.2', 'Thru.2', 'Left.2', 'Right.3', 'Thru.3',
       'Left.3', 'U-Turn.3', 'Peds CW.3', 'Peds CCW.3', 'Peds', 'Peds.1',
       'Peds.2', 'Peds.3', 'Bear right', 'Hard left', 'Hard right',
       'Bear right.1', 'Bear left', 'Hard left.1', 'Hard right.1',
       'Bear left.1', 'Right on red', 'Right on red.1', 'Peds CW.4',
       'Peds CCW.4', 'U-Turn.4', 'Right on red.2', 'Right on red.3'],
      dtype='object')

In [5]:
result_df1=result_df[['Start Time', 'lat','long','location','total_Counts',]]
result_df1.head()

,Start Time,lat,long,location,total_Counts
0,2014-05-28 06:30:00,39.524223,-122.208951,"Villa Ave, Willows, CA",1
1,2014-05-28 06:45:00,39.524223,-122.208951,"Villa Ave, Willows, CA",1
2,2014-05-28 07:00:00,39.524223,-122.208951,"Villa Ave, Willows, CA",4
3,2014-05-28 07:15:00,39.524223,-122.208951,"Villa Ave, Willows, CA",3
4,2014-05-28 07:30:00,39.524223,-122.208951,"Villa Ave, Willows, CA",6

In [6]:
result_df1['total_Counts'].describe()

count    18269.000000
mean         5.892167
std         16.654226
min          0.000000
25%          0.000000
50%          1.000000
75%          5.000000
max        242.000000
Name: total_Counts, dtype: float64

In [7]:
result_df1.shape

(18269, 5)

In [8]:
result_df1['location'].nunique()

233

In [9]:
result_df1.isnull().sum()

Start Time      0
lat             0
long            0
location        0
total_Counts    0
dtype: int64

In [10]:
result_df1.to_csv('S:/Shared/System Management/ATP/LOCATIONS/Miovision Data/Processed_data/Miovision_short_term_pedestrian_smart3_data.csv')

In [11]:
# Bicycle_on_roads
aggregated_data = []
# Iterate over each Excel file
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):
        filepath = os.path.join(directory, filename)
        try:
            with pd.ExcelFile(filepath) as xls:
                # Read Summary sheet
                summary_df = pd.read_excel(xls, 'Summary')

                # Check if condition is met in summary sheet
                if (summary_df.iloc[2, 1] == 'All Processed Legs & Movements'):
                    location = summary_df.iloc[7, 1]  # Location is in cell B9
                    latlon = summary_df.iloc[8, 1]
                    latlon = latlon.split(',')
                    lat = latlon[0]
                    lon = latlon[1]
                    # Read Pedestrians sheet
                    br_df = pd.read_excel(xls, 'Bicycles on Road', header=2)

                    # Sum up all columns' values by first column starting from row 4
                        # Sum up all columns' values by first column starting from row 4
                    br_df['total_Counts'] = br_df.iloc[:, 1:].sum(axis=1)
                    br_df['location'] = location
                    br_df['lat'] = lat
                    br_df['long'] = lon

                    # Append to aggregated data list
                    aggregated_data.append(br_df)
        except Exception as e:
            print(f"Error processing {filename}: {str(e)}")

# Concatenate data into a single DataFrame
result_br_df = pd.concat(aggregated_data)
result_br_df

Error processing 03 - GLE - 162 - PM 65.833 - MAY - 28 - 2014_20201107021257.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03 - GLE - 162 - PM 65.913 - MAY - 28 - 2014_20201107021330.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03 - GLE - 162 - PM 65.913 - MAY - 28 - 2014_20201107021402.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-BUT-032-PM R8.869-SEP-30-2014_20201107015516.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-ED-050 PM 70.621 02 MAY 2020 Ped Count_20201106204601.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-ED-050 PM 70.621 03 MAY 2020 Ped Count_20201106204529.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-ED-050 PM 70.621 29 APR 2020 Ped Count_20201106204648.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-SAC-050_EB Offramp-Hornet Dr_12 OCT 2016_20201106233950.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-SAC_College Town-Hornet Dr_04 OCT 2016_20201106234027.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-SUT-099-PM 29.670-08_OCT_2015_20201107013816.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-SUT-099-PM 30.030-15_OCT_2015_20201107013620.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-SUT-Bridge Street_Oji Way-15_OCT_2015_20201107013652.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-SUT-Bridge Street_Oji Way-17_OCT_2015_20201107013545.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-YUB-020_PM 1.236_29 SEP 2016_20201106231506.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-YUB-020_PM 1.320_29 SEP 2016_20201106231539.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-YUB-070_PM 14.700_29 SEP 2016_20201106231434.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-YUB-070_PM 14.870_29 SEP 2016_20201106231611.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-YUB-070_PM 14.995_19 OCT 2016_20201106230648.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 03-YUB-14th Street-E Street-03 NOV 2016_20201106230202.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 28th and E_20201107022045.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 28th and H_20201107022121.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 28th and J_20201107022156.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 28th and N_20201107022234.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 28th and P_20201107022310.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 29th and E_20201107022354.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 29th and H_20201107022428.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 29th and J_20201107022508.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 29th and N_20201107022545.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 29th and P_20201107022625.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 30th and E_20201107023210.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 30th and H_20201107023255.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 30th and J_20201107022011.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 30th and N_20201107023033.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing 30th and P_20201107023125.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Alhambra and E_20201107022702.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Alhambra and H_20201107022744.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Alhambra and J_20201107022824.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Alhambra and N_20201107022907.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Alhambra and P_20201107022950.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing DN-197-7.08 Jct 101 2015_20201107004156.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing DN-199-4.40 Jct 197 2015_20201107004227.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing E. Elm at Main 6-10-16 Friday_20201107003150.xlsx: 'float' object has no attribute 'split'
Error processing E. Elm at Main 6-11-16 Saturday 7-9am_20201107003101.xlsx: 'float' object has no attribute 'split'
Error processing HUM-211-78.58 Fernbridge 2016_20201107003322.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing HUM-254-18.43 at Lum St., Weott 2016_20201107003354.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing HUM-36-2.79 Rohnerville Rd 2016_20201107003558.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Line at Main 7-8-16 Friday_20201107002539.xlsx: 'float' object has no attribute 'split'
Error processing MEN-101-91.26 Leggett at Hwy 1 2014_20201107004406.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing MEN-162-0.00 Jct 101 PM 59.31 and Covelo Road_20201107004023.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing MEN-253-0.00 Jct 128 2015_20201107003850.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing MEN-253-16.87 Jct 101 2015_20201107003921.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing PCH @ Western_20201107000451.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing Rte 2 @ Willow St_20201107010146.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing SJ-26-10.70 Mill St. (12-8-15)_20201107011111.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing SJ-88-14.080 Elliot_Tully Roads, L_R (4-10-2016)_20201107010007.xlsx: Worksheet named 'Bicycles on Road' not found
Error processing SJ-88-14.080 Elliot_Tully Roads, L_R (4-8-2016)_20201107010046.xlsx: Worksheet named 'Bicycles on Road' not found

,Start Time,Right,Thru,Left,U-Turn,Peds CW,Peds CCW,Right.1,Thru.1,Left.1,...,Hard left.1,Hard right.1,Bear left.1,Right on red,Right on red.1,U-Turn.4,Peds CW.4,Peds CCW.4,Right on red.2,Right on red.3
0,2020-03-11 06:00:00,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-03-11 06:15:00,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-03-11 06:30:00,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-11 06:45:00,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-03-11 07:00:00,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,2019-11-14 16:45:00,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2019-11-14 17:00:00,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2019-11-14 17:15:00,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2019-11-14 17:30:00,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2019-11-14 17:45:00,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
result_br_df2=result_br_df[['Start Time', 'lat','long','location','total_Counts',]]
result_br_df2.head()

,Start Time,lat,long,location,total_Counts
0,2020-03-11 06:00:00,39.744986,-121.780052,03-BUT-032 PM 12.390 SR32/Yosemite Drive,1
1,2020-03-11 06:15:00,39.744986,-121.780052,03-BUT-032 PM 12.390 SR32/Yosemite Drive,0
2,2020-03-11 06:30:00,39.744986,-121.780052,03-BUT-032 PM 12.390 SR32/Yosemite Drive,0
3,2020-03-11 06:45:00,39.744986,-121.780052,03-BUT-032 PM 12.390 SR32/Yosemite Drive,0
4,2020-03-11 07:00:00,39.744986,-121.780052,03-BUT-032 PM 12.390 SR32/Yosemite Drive,2

In [13]:
result_br_df2.to_csv('S:/Shared/System Management/ATP/LOCATIONS/Miovision Data/Processed_data/Miovision_short_term_bicycle_on_roads_smart3_data.csv')

In [14]:
# Bicycle_on_roads
aggregated_data = []
# Iterate over each Excel file
for filename in os.listdir(directory):
    if filename.endswith('.xlsx'):
        filepath = os.path.join(directory, filename)
        try:
            with pd.ExcelFile(filepath) as xls:
                # Read Summary sheet
                summary_df = pd.read_excel(xls, 'Summary')

                # Check if condition is met in summary sheet
                if (summary_df.iloc[2, 1] == 'All Processed Legs & Movements'):
                    location = summary_df.iloc[7, 1]  # Location is in cell B9
                    latlon = summary_df.iloc[8, 1]
                    latlon = latlon.split(',')
                    lat = latlon[0]
                    lon = latlon[1]
                    # Read Pedestrians sheet
                    bc_df = pd.read_excel(xls, 'Bicycles on Crosswalk', header=2)

                    # Sum up all columns' values by first column starting from row 4
                        # Sum up all columns' values by first column starting from row 4
                    bc_df['total_Counts'] = bc_df.iloc[:, 1:].sum(axis=1)
                    bc_df['location'] = location
                    bc_df['lat'] = lat
                    bc_df['long'] = lon

                    # Append to aggregated data list
                    aggregated_data.append(bc_df)
        except Exception as e:
            print(f"Error processing {filename}: {str(e)}")

# Concatenate data into a single DataFrame
result_bc_df = pd.concat(aggregated_data)
result_bc_df

Error processing 03-ED-049-15.163-MAY-15-2013_20201107021806.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 03-ED-050 PM 70.621 02 MAY 2020 Ped Count_20201106204601.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 03-ED-050 PM 70.621 03 MAY 2020 Ped Count_20201106204529.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 03-ED-050 PM 70.621 29 APR 2020 Ped Count_20201106204648.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 03-ED-050-PM18.586-10-01-2013_20201107021558.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 03-ED-50-PM18.630-10-01-2013_20201107021704.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 03-SAC-160 PM 20.860 21-23 AUG 2019_20201106205640.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 1_21 @ Via Verde 11_30 am - 2 pm_20201107010630.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 210 W_B and Central no ped_20201106230548.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing 210 W_B Central with PED_20201106230518.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Bellle Haven@BushAM_20201107013302.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Bridgeport PED - Candy Store - Sat 08-07-16_20201106233149.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Bridgeport PED - Jolly Cone - Fri PM - 08-08-16_20201106233248.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Bridgeport PED - Jolly Cone - Sat 08-06-16_20201106233219.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Bridgeport PED - Jolly Cone - Sun 08-07-16_20201106233119.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Broadway-Mosquito Road Placerville CA_20201107021631.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Dinosaur Cave SB off-ramp EA 05-1G680_20201107014451.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Dinosaur Cave SB on-ramp EA 05-1G680_20201107014421.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing DN-101-5.31 Klamath at Ehlers Ave Saturday 07.12.2014 DN-101-5.31_20201107025035.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing DN-101-5.31 Klamath at Ehlers Ave Sunday 07.13.2014_20201107024848.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing DN-101-5.31 Klamath at Ehlers Ave Thursday 07.10.2014 DN-101-5.31_20201107025433.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing DN-197-7.08 Jct 101 2015_20201107004156.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing DN-199-4.40 Jct 197 2015_20201107004227.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing E. Elm at Main 6-10-16 Friday_20201107003150.xlsx: 'float' object has no attribute 'split'
Error processing E. Elm at Main 6-11-16 Saturday 7-9am_20201107003101.xlsx: 'float' object has no attribute 'split'
Error processing Fairfield _ 36 Traffic Count 10-21-2015_20201107012550.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Grand _ Foss _ 36 Traffic Count 10-20-2015_20201107012858.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing HUM-211-78.58 Fernbridge 2016_20201107003322.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing HUM-254-18.43 at Lum St., Weott 2016_20201107003354.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing HUM-36-2.79 Rohnerville Rd 2016_20201107003558.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Johnstonville _ 36 Traffic Count 10-20-2015_20201107012728.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Kin41@Bush AM NB_20201107013232.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing LA-001@MATADOR_20201106235441.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing LA-027@HIAWATHA ST_20201107000232.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing LA001-PCH@MATADOR_20201106234902.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing LA001@MATADOR BEACH_20201106235555.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Line at Main 7-8-16 Friday_20201107002539.xlsx: 'float' object has no attribute 'split'
Error processing MEN-101-91.26 Leggett at Hwy 1 2014_20201107004406.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing MEN-162-0.00 Jct 101 PM 59.31 and Covelo Road_20201107004023.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing MEN-253-0.00 Jct 128 2015_20201107003850.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing MEN-253-16.87 Jct 101 2015_20201107003921.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Pasadena Ave_California Blvd (9_22 - 6-10 am)_20201106232120.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Pasadena Ave_California Blvd.(9_21 - 2-6pm)_20201106232150.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Pasadena Ave_California Blvd_20201106232249.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Pasdena Ave_California Blvd (9_21 - 11-1pm)_20201106232219.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing PCH @ Western_20201107000451.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing PCH@MATADOR_20201106235016.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Riverside _ 36 Traffic Count 10-21-2015_20201107012636.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte 15 Nichols Rd NB off_on ramp_20201107005301.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte 66_Emerald 9_14 (11-1 pm)_20201106232838.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte 66_Emerald 9_14 (3-7 pm)_20201106232809.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte 66_Emerald 9_15 (6-10 am)_20201106232738.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte. 66_Emerald 9_13 (3-7pm)_20201106234229.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte. 66_Emerald 9_14 (6-10 am)_20201106234159.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Rte. 66_Emerald 9_15 (11-1PM)_20201106232516.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing SBam@Bush_20201107013333.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing SLO 046 at Vineyard Dr. (weekend)_20201107014228.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing SMB _ Seward 083116s_20201106234650.xlsx: Worksheet named 'Bicycles on Crosswalk' not found
Error processing Weatherlow _ 36 Traffic Count 10-20-2015_20201107012814.xlsx: Worksheet named 'Bicycles on Crosswalk' not found

,Start Time,Thru,Left,U-Turn,Peds CW,Peds CCW,Right,Left.1,U-Turn.1,Peds CW.1,...,Hard left.1,Hard right.1,Bear left.1,Right on red,Right on red.1,Peds CW.4,Peds CCW.4,U-Turn.4,Right on red.2,Right on red.3
0,2014-05-28 06:30:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-05-28 06:45:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-05-28 07:00:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-05-28 07:15:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-05-28 07:30:00,0,0.0,0.0,1,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,2019-11-14 16:45:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,2019-11-14 17:00:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2019-11-14 17:15:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,2019-11-14 17:30:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2019-11-14 17:45:00,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
result_bc_df2=result_bc_df[['Start Time', 'lat','long','location','total_Counts',]]
result_bc_df2.head()

,Start Time,lat,long,location,total_Counts
0,2014-05-28 06:30:00,39.524223,-122.208951,"Villa Ave, Willows, CA",0
1,2014-05-28 06:45:00,39.524223,-122.208951,"Villa Ave, Willows, CA",0
2,2014-05-28 07:00:00,39.524223,-122.208951,"Villa Ave, Willows, CA",0
3,2014-05-28 07:15:00,39.524223,-122.208951,"Villa Ave, Willows, CA",0
4,2014-05-28 07:30:00,39.524223,-122.208951,"Villa Ave, Willows, CA",1

In [16]:
result_bc_df2.to_csv('S:/Shared/System Management/ATP/LOCATIONS/Miovision Data/Processed_data/Miovision_short_term_bicycle_on_crosswalks_smart3_data.csv')

# end of the Script